/* Скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифтів */
@import url("fonts.css");

/* Підключення шрифтів */

/* Основні стилі */

/* Значення за замовченням  */
body {
	color: #7e7f7c;
	font-family: "Lato", sans-serif;
	background-color: #333;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;

	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

/* ------------------------------------------------------------------- */
[class*="__container"] {
	max-width: 1422px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}

/* ------------------------------------------------------------------- */

/* Header */

.header {
	background-color: #fff;
}

.header__container {
	min-height: 164px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: flex;
	align-items: center;
	gap: 80px;

}

/* logo  */

.header__image-logo {
	width: 200px;
	max-width: none;
}

/* search */

.header__search {
	flex-basis: 264px;
}

.search-header {
	display: flex;
	overflow: hidden;
	border-bottom: 1px solid #d4d4d4;
}

.search-header__button {
	width: 15px;
	flex-shrink: 0;
	background: url("../img/icons/search.svg") left no-repeat;
}

.search-header__input {
	padding-left: 15px;
	padding-right: 15px;
	height: 43px;
}

/* menu */

.menu {
	flex-grow: 1;
}

.icon-menu {
	display: none;
}



.menu__list {
	display: flex;
	gap: 5px 44px;
	/* 5px Встановлює проміжок між рядками 
                   44px Встановлює проміжок між колонками */
	align-items: center;
	flex-wrap: wrap;
}


.menu__link {
	font-weight: 700;
	line-height: 1.25;
	color: #2f302c;
	text-transform: uppercase;
}

/* ------action--------- */

.action-header {
	display: flex;
	gap: 44px;
}

.action-header__link {
	padding-left: 22px;
	display: block;

}

.action-header__link--love {
	background: url("../img/icons/favorite.svg") left no-repeat;
}

.action-header__link--cart {
	background: url("../img/icons/cart.svg") left no-repeat;
}

/*------------- media ----------------*/

@media (width <=1422px) {
	.header__container {
		min-height: 120px;
		gap: 40px;
	}

	.action-header,
	.menu__list {
		gap: 3px 25px;

	}

	.menu__list {
		justify-content: center;
	}

}

@media (width <=1200px) {
	.header__search {
		flex-basis: 190px;
	}
}

@media (width <=922px) {
	.header__container {
		min-height: 100px;
		gap: 30px;
	}

	.header__logo {
		width: 37px;
		flex-shrink: 0;
		overflow: hidden;
	}

	.action-header,
	.menu__list {
		gap: 8px 17px;

	}
}

@media (width < 768px) {
	.header__container {
		min-height: 70px;
	}

	.icon-menu {
		display: block;
		width: 30px;
		height: 18px;
		flex-shrink: 0;

	}

	.icon-menu,
	.header__logo,
	.header__action,
	.header__search {
		position: relative;
		z-index: 3;
	}

	.icon-menu span,
	.icon-menu::before,
	.icon-menu::after {
		background-color: #2f302c;
		content: "";
		height: 2px;
		width: 30px;
		position: absolute;
		right: 0;
		transition: all 0.3s;
		background-color: #2f302c;

	}

	.icon-menu::before {
		top: 0;
	}

	.icon-menu::after {
		bottom: 0;

	}

	.icon-menu span {
		top: 50%;
		translate: 0 -50%;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 100%;
		background-color: #f6f6f6;
		z-index: 1;
		overflow: auto;
		padding: 100px 15px 30px 15px;
		transition: left 0.3s;
	}

	.menu::before {
		content: "";
		position: fixed;
		width: 100%;
		height: 70px;
		top: 0;
		left: 0;
		transition: left 0.3s;
		background-color: #fff;
		z-index: 2;


	}

	.menu__list {
		flex-direction: column;
		row-gap: 30px;
	}

	.menu__link {

		font-size: 28px;
	}

	.header__search {
		flex-grow: 1;
	}

	.action-header__link {
		width: 25px;
		aspect-ratio: 1;
		padding-left: 0;
		font-size: 0;
		background-size: contain;
	}

	[data-menu-open] .icon-menu span {
		width: 0;
	}

	[data-menu-open] .icon-menu::before {
		rotate: -45deg;
		translate: 0 -50%;
		top: 50%;
	}

	[data-menu-open] .icon-menu::after {
		rotate: 45deg;
		translate: 0 50%;
		bottom: 50%;
	}

	[data-menu-open] .menu,
	[data-menu-open] .menu::before {
		left: 0;
		z-index: 3;
	}
}

@media (width < 480px) {
	.header__container {
		gap: 18px;
	}

	.header__logo {
		width: 28px;

	}

	.header__image-logo {
		width: 154px;
	}

	.action-header {
		gap: 8px 15px;
	}

	.search-header__button {
		display: none;

	}

	.search-header {
		border-radius: 5px;
		border: 1px solid #d4d4d4;
	}

	.search-header__input {
		height: 32px;
		padding-left: 5px;
		padding-right: 5px;

	}
}


/* ---------card-------------- */

.page-head__card {
	position: relative;
}

.card-head__imge {
	/* Зсуваємо елемент на 261px вліво */
	margin-left: -249px;
	/* Розраховуємо загальну ширину:
       1422px (ширина контейнера) + 249px (ліворуч) + 249px (праворуч) = 1920px */
	width: 1920px;

}

.card-head__imge img {
	width: 100%;
	height: auto;
}

.card-head__content {
	position: absolute;
	/* Координати, щоб розмістити контент */
	top: 114px;
	left: 752px;
	z-index: 2;
	padding: 10px;
}

.card-head__subtitle {
	font-size: 20px;
	line-height: 1.4;
	margin-bottom: 20px;

}

.card-head__title h1 {
	color: #2f302c;
	font-size: 96px;
	font-weight: 800;
	line-height: 1.02;
	text-transform: uppercase;
	margin-left: -5px;
	margin-bottom: 16px;
}

.card-head__title span {
	display: block;
	font-weight: 700;


}

.card-head__title::after {
	content: "";
	border-bottom: 1px solid #0c0c0c;
	width: 100%;
	margin-left: 10px;
	margin-bottom: 36px;
	display: block;
	max-width: 308px;

}


.card-head__text {
	color: #7e7f7c;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 500;
	line-height: 1.33;
	text-transform: none;
	max-width: 374px;

}

.footer__content {
	font-size: 20px;
	line-height: 1.4;
	text-align: center;
	color: rgb(245, 6, 6);

}

/*----------------------- media-------------------------- */
/* ----------------------1422--------------------------- */
@media (width <=1422px) {
	.card-head__content {
		position: absolute;
		/* Координати, щоб розмістити контент */
		left: 50%;
	}
}

/* -----------------------1200------------------------------------ */
@media (width <=1200px) {
	.card-head__content {
		top: 100px;
		left: 30%;
	}
}

/* -----------------------922---------------------------------- */
@media (width <=922px) {
	.card-head__content {
		top: 90px;
		left: 25%;

	}

	.card-head__imge {

		position: relative;
		/* Необхідно для позиціонування накладки */
		overflow: hidden;
		/* Обрізає все, що виходить за межі контейнера */

	}

	.card-head__imge img {
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}

	.card-head__imge::before {
		content: "";

		/* Розтягуємо накладку на всю площу батьківського елемента */
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		/* Задаємо колір фону */
		background-color: #2e2c2c;
		/* Встановлюємо прозорість 50% */
		opacity: 0.5;

		z-index: 1;
	}

	.card-head__title h1,
	.card-head__text,
	.card-head__subtitle {
		color: #fff;
	}

	.card-head__title::after {
		max-width: 280px;
		border-bottom: 1px solid #fff;
	}
}

/* -----------------------------768----------------------------- */
@media (width < 768px) {
	.card-head__content {
		position: absolute;
		/* Координати, щоб розмістити контент */
		top: 80px;
		left: 20%;

	}

	.card-head__subtitle {
		font-size: 18px;
		margin-bottom: 10px;
	}


	.card-head__title h1 {
		font-size: 70px;
		margin-bottom: 16px;
	}

	.card-head__title::after {
		max-width: 200px;

	}

	.card-head__text {
		max-width: 300px;
	}
}

/* -----------------------------480----------------------------- */
@media (width < 480px) {

	.card-head__content {
		position: absolute;
		/* Координати, щоб розмістити контент */
		top: 80px;
		left: 19%;
	}

	.card-head__subtitle {
		font-size: 16px;
		margin-bottom: 10px;
	}

	.title {
		margin-bottom: 10px;
	}

	.card-head__title h1 {
		font-size: 50px;
		margin-bottom: 8px;
	}

	.card-head__title::after {
		max-width: 140px;

	}

	.card-head__text {
		max-width: 200px;
	}
}