/* скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифту lato 500 800 */

@import url("fonts.css");



body {
    font-family: "Lato", sans-serif;
    font-weight: 500;
}

header {
    margin-top: 40px;
    color: #b6f009;
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 82px;

}



.blok_title {
    color: #2f302c;
    font-size: 32px;
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;


}


.section {
    margin: 72px auto 82px;
    max-width: 1180px;
    text-align: center;


}

.items {
    font-size: 0;
    margin-left: -34px;
    margin-right: -34px;
}


.item {
    display: inline-block;
    width: 33.33%;
    vertical-align: top;
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 68px;

}




.item img {
    width: 60px;
    height: 60px;
}

.content_title {
    color: #2f302c;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    text-transform: uppercase;
    text-align: center;
    margin: 24px 0;
}

.content p {
    color: #7e7f7c;
    font-size: 16px;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: 0;
    text-transform: none;

}

footer {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    color: brown;
}