/* скидання стилів */
@import url("reset.css");

/* Локальне підключення шрифту */

@import url("fonts.css");

/* підключення шрифтів */
/* Almarai serif*/
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');
/* Great-Vibes fantasy*/
@import url('https://fonts.googleapis.com/css2?family=Great%20Vibes:wght@400&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    max-width: 1280px;
    margin: 20px 30px;
    padding: 10px 5px 20px 8px;
    background-color: #91b1c9
}


.img {
    text-align: center;
    margin: 25px;


}

.content {

    text-align: center;
    line-height: 2;
}

h1 {

    color: rgb(5, 5, 5);
    text-align: center;
    font-size: 30px;
    background-color: #ec0909
}

.doll {
    font-family: "Petrona", sans-serif;
    color: blueviolet;
    text-transform: uppercase;
    letter-spacing: 10px;
}



.title-01 {
    font-family: "Product", sans-serif;
    color: rgb(7, 49, 6);
    text-decoration: underline;
    text-align: right;

}

.title-compani {
    font-family: "Almarai", serif;
    font-weight: 700;
    color: burlywood;
    text-decoration-style: wavy;
    text-decoration-line: underline;
}

.title-02 {
    text-align: left;
}

.title-brand {
    font-family: "Great Vibes", fantasy;
    font-size: 30px;
    color: blue;

}

.title-03 {
    color: #ec0909;
    text-decoration-style: dashed;
    text-decoration-line: underline;
    text-decoration-color: #032036;
}

.title-04 {
    color: #032036;

}

.title-doll-1,
.title-doll-2,
.title-doll-3 {
    font-family: "Great Vibes", fantasy;
    font-size: 30px;
    text-decoration: overline;

}

.title-doll-1 {
    text-shadow: 5px 5px 5px rgb(250, 38, 10)
}

.title-doll-2 {
    text-shadow: 5px 5px 5px rgb(231, 135, 8)
}

.title-doll-3 {
    text-shadow: 5px 5px 5px rgb(149, 7, 231)
}

.title-05 {
    font-weight: 900;
    color: rgb(141, 11, 98);

}

.title-example {
    font-weight: 900;
    font-size: 18px;
    color: #08ca39c0;
    text-decoration: overline;
    text-decoration-color: #ec0909;
}

h2 {
    font-size: 25px;
    font-weight: 900;
    line-height: 2.5;
    text-align: center;
    text-decoration: underline;

}


ol {
    list-style-type: decimal;
    line-height: 3;
    padding-left: 40px;

}

.list-1 {
    font-family: "Product", sans-serif;
    text-shadow: -5px 5px 5px #0feee3c0;
    text-transform: lowercase;
}

.list-2 {
    font-family: "Great Vibes", fantasy;
    word-spacing: 10px;
    font-size: 25px;
    text-transform: capitalize;


}

.list-3 {
    font-family: "Almarai", serif;
    font-weight: 700;
    text-decoration: line-through;
    text-decoration-color: aqua;

}

.list-4 {
    font-family: "Petrona", sans-serif;
    font-weight: 300;
    font-style: italic;
    text-decoration-style: wavy;
    text-decoration-line: underline;
    text-decoration-color: rgb(16, 236, 27);

}

.list-5 {
    font-weight: 900;
    text-align: center;

}

.slogan {
    font-family: "Great Vibes", fantasy;
    word-spacing: 10px;
    font-size: 30px;
    color: #ec0909;

}

.list-6 {

    text-transform: capitalize;
    text-decoration: underline;
    text-decoration-color: #ec0909;
    white-space: nowrap;
}

.list-7 {
    font-weight: 700;
    font-style: italic;
    text-align: right;

}

.list-8 {
    letter-spacing: 10px;
    text-align: center;
}

.img-title {
    font-family: "Great Vibes", fantasy;
    margin: 20px;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    color: #ec0909;
}

footer {

    background-color: #35be13
}

.content-footer {
    margin: 20px 30px;
    padding: 10px 5px 20px 8px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 8px -5px 5px rgba(243, 4, 4, 0.8);

}